*{
	text-decoration: none;
	margin: 0;
	padding: 0;
}


body {
	display: flex;
	flex-direction: column;

}
.bg {
	background-image: url("../images/ccc.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	filter: blur(2px);

	position: absolute;
	width: 100%;
	height: 100vh;
}

.bg-overlay {
	background-color: rgba(108, 108, 108, 0.6);
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100vh;
}


/* NAVIGATION BAR */
nav {
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar {
	display: flex;
	background-color: #01427A;
	align-items: end;
	margin-bottom: 100px;

}

.navbar ul{
	list-style: none;
	margin-bottom: 10px;

}

.navbar ul li{
	display: inline-block;
}

.navbar ul li a{
	color: white;
	padding: 5px;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: "Calibri";
	transition: all 0.5s;

}

.navbar ul li a.active,.navbar li a:hover{
	box-shadow: 2px 2px 5px black;
	background: #01B3EF;

	padding-right: 7px;
	padding-left: 7px;
	transition: all 0.5s;
}

.navbar .logo {
	margin: 5px 0px 5px 10px;
	width: 75%;
	height: 120px;
}

.navbar .logo img{
	width: auto;
	max-height: 120px;
	background-color: white;
	border: solid white 0px 0px;
	border-end-start-radius: 50px;
	border-end-end-radius: 50px;

}


.navbar input{
	display: none;
}

.navbar label{
	display: none;
}










.sidebar {
	display: none;
}








.buildings {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: default;
	height: 30%;
}


.buildings section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	box-shadow: 1px 1px 5px;
	border: #01427A solid 3px;
	border-radius: 20px;
	z-index: 20;
	margin: 10px;

	width: 500px;
	height: 300px;

	transition: all 0.3s ease;

	*{
		transition: all 0.5s ease;
	}

}

.bldg-btn {
	visibility: hidden;
	opacity: 0;
	font-family: "Source Code Pro", monospace;
	font-size: 1.5rem;
	font-weight: 400;
	text-shadow: black 1px 1px 3px;
	color: white;
	margin-top: 20px;
	padding: 10px 5px 10px 5px;
	background-color: rgba(1, 66, 122, 1);
	max-height: 0%;

}

.buildings section:hover {
	transition: 0.3s ease;
	transform: translateY(-10px);
	backdrop-filter: blur(15px);
	#admin-img{
		transition: all 0.5s ease;
		position: absolute;
		bottom: 0;
		left: 55%;
		transform: translateY(160%);
		width: 200%;

		padding-top: 20px;
		padding-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(15px);
		box-shadow: black 1px 1px 5px;
	}

	#rizal-img{
		transition: all 0.5s ease;
		position: absolute;
		bottom: 0;
		left: -50%;
		transform: translateY(150%);
		width: 200%;

		padding-top: 20px;
		padding-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(15px);
		box-shadow: black 1px 1px 5px;
	}

	#jmc-img{
		transition: all 0.5s ease;
		position: absolute;
		bottom: 0;
		left: -155%;
		transform: translateY(120%);
		width: 200%;

		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(15px);
		box-shadow: black 1px 1px 5px;
	}

	.bldg-btn {
		visibility: visible;
		opacity: 1;
		max-height: 100%;
		transition: all 0.8s ease;

	}

}

.buildings section img {
	position: absolute;
	bottom: 25%;
	width: 100%;
	left: 0;
}

.buildings section h3{
	position: absolute;
	top: 10%;
	left: 10%;
	text-align: center;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 2.4rem;
	text-transform: uppercase;
	text-shadow: black 1px 1px 5px;
}





/*MEDIA QUERIES*/



@media only screen and (max-width: 1440px) {
	.buildings section {
		 width: 375px;
		 height: 225px;
	}

	.navbar .logo {
		height: 90px;
	}

	.navbar .logo img{
		max-height: 90px;
	}

	.navbar ul li a{
		font-size: 1rem;
	}

	.buildings section h3 {
		font-size: 1.8rem;
	}

	.bldg-btn {
	font-size: 1.1rem;
	font-weight: 400;
	text-shadow: black 1px 1px 3px;
	color: white;
	padding: 10px 5px 10px 5px;
	}

}


@media only screen and (max-width: 1024px) {
	.bg {
		background-position: center center;
	}

	.buildings section {
		 width: 266px;
		 height: 160px;
	}

	.navbar .logo {
		height: 64px;
	}

	.navbar .logo img{
		max-height: 64px;
	}

	.navbar ul li a{
		font-size: 0.7rem;
	}

	.buildings section h3 {
		font-size: 1.28rem;
	}

	.bldg-btn {
	font-size: 0.78rem;
	font-weight: 400;
	text-shadow: black 1px 1px 3px;
	color: white;
	padding: 10px 5px 10px 5px;
	}

}


@media only screen and (max-width: 768px) {
	.bg {
		background-position: center center;
	}

	.buildings {
		flex-direction: column;
	}

	.bldg-btn {
	visibility: hidden;
	opacity: 0;
	font-family: "Source Code Pro", monospace;
	font-size: 1.2rem;
	font-weight: 400;
	text-shadow: black 1px 1px 3px;
	color: white;
	margin-top: 0px;
	padding: 10px 5px 10px 5px;
	background-color: rgba(1, 66, 122, 1);
	max-height: 0%;
	transition: 0s;

	}

	.navbar {
		margin-bottom: 50px;
	}
	.buildings section {
		 width: 266px;
		 height: 160px;
	}

	.buildings section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(5px);
		box-shadow: 1px 1px 5px;
		border: #01427A solid 3px;
		border-radius: 20px;
		z-index: 20;
		margin: 10px;


		transition: all 0.5s ease;

		*{
			transition: all 0s ease;
			position: static;
		}

	}

	.navbar .logo {
		height: 48px;
	}

	.navbar .logo img{
		max-height: 48px;
	}

	.navbar ul li a{
		font-size: 0.47rem;
	}

	.buildings section h3 {
		font-size: 1rem;
		transition: all 0.8s;
	}

	.buildings section img {
		position: static;
		bottom: 0%;
		width: 100%;
		left: 0;
	}

	

	.buildings section:hover {
	transition: 0.5s ease;
	transform: unset;
	backdrop-filter: blur(15px);
	transform: rotateY(180deg);
	#admin-img{
		transform: rotateY(180deg);
		opacity: 0;
		transition: all 0s ease;
		position: absolute;
		left: 0;
		transform: translateY(0);
		width: 100%;

		padding-top: unset;
		padding-bottom: unset;
		background-color: transparent;
		backdrop-filter: none;
		box-shadow: 0px 0px;
	}

	#rizal-img{
		transform: rotateY(180deg);
		opacity: 0;
		transition: all 0s ease;
		position: absolute;
		left: 0;
		transform: translateY(0);
		width: 100%;

		padding-top: unset;
		padding-bottom: unset;
		background-color: transparent;
		backdrop-filter: none;
		box-shadow: 0px 0px;
	}

	#jmc-img{
		transform: rotateY(180deg);
		opacity: 0;
		transition: all 0s ease;
		position: absolute;
		left: 0;
		transform: translateY(0);
		width: 100%;

		padding-top: unset;
		padding-bottom: unset;
		background-color: transparent;
		backdrop-filter: none;
		box-shadow: 0px 0px;
	}

	.bldg-btn {
		opacity: 1;
		visibility: visible;
		max-height: 100%;
		transition: visibility 0.8s, opacity 0.8s ease;
		transform: rotateY(180deg);

	}

	h3 {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

}


@media only screen and (max-width: 420px) {

	.bg {
		background-position: center center;
	}
	.buildings {
		flex-direction: column;
	}

	.bldg-btn {
	visibility: hidden;
	opacity: 0;
	font-family: "Source Code Pro", monospace;
	font-size: 1.2rem;
	font-weight: 400;
	text-shadow: black 1px 1px 3px;
	color: white;
	margin-top: 0px;
	padding: 10px 5px 10px 5px;
	background-color: rgba(1, 66, 122, 1);
	max-height: 0%;
	transition: 0s;

	}

	.navbar {
		margin-bottom: 50px;
	}
	.buildings section {
		 width: 90%;
		 height: 160px;
	}

	.buildings section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(5px);
		box-shadow: 1px 1px 5px;
		border: #01427A solid 3px;
		border-radius: 20px;
		z-index: 20;
		margin: 10px;


		transition: all 0.5s ease;

		*{
			transition: all 0s ease;
			position: static;
		}

	}

	.navbar .logo {
		height: 48px;
	}

	.navbar .logo img{
		max-height: 48px;
	}

	.navbar ul li a{
		font-size: 0.47rem;
	}

	.buildings section h3 {
		font-size: 1.5rem;
		transition: all 0.8s;
	}

	.buildings section img {
		position: static;
		bottom: 0%;
		width: 100%;
		left: 0;
	}

	

	.buildings section:hover {
	transition: 0.5s ease;
	transform: unset;
	backdrop-filter: blur(15px);
	transform: rotateY(180deg);
	#admin-img{
		transform: rotateY(180deg);
		opacity: 0;
		transition: all 0s ease;
		position: absolute;
		left: 0;
		transform: translateY(0);
		width: 100%;

		padding-top: unset;
		padding-bottom: unset;
		background-color: transparent;
		backdrop-filter: none;
		box-shadow: 0px 0px;
	}

	#rizal-img{
		transform: rotateY(180deg);
		opacity: 0;
		transition: all 0s ease;
		position: absolute;
		left: 0;
		transform: translateY(0);
		width: 100%;

		padding-top: unset;
		padding-bottom: unset;
		background-color: transparent;
		backdrop-filter: none;
		box-shadow: 0px 0px;
	}

	#jmc-img{
		transform: rotateY(180deg);
		opacity: 0;
		transition: all 0s ease;
		position: absolute;
		left: 0;
		transform: translateY(0);
		width: 100%;

		padding-top: unset;
		padding-bottom: unset;
		background-color: transparent;
		backdrop-filter: none;
		box-shadow: 0px 0px;
	}

	.bldg-btn {
		opacity: 1;
		visibility: visible;
		max-height: 100%;
		transition: visibility 0.8s, opacity 0.8s ease;
		transform: rotateY(180deg);

	}

	h3 {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

}

